%h1= title

%link{href:"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", rel:"stylesheet", type:"text/css"}
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
%script{src: "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"}
%script{src: "/socket.io/socket.io.js"}
%script{src: "/mcr.js"}
:javascript
  $(function() {
    $('#progressbar').progressbar({ value: 0 });
  });

  var socket = new io.Socket(window.location.hostname, {'port': window.location.port}); 

  socket.on('connect', function(){ 
    smessage('Connected. Requesting job...');
    socket.send({message: 'next_job', uuid: "#{uuid}"});
  });

  socket.on('message', function(data) { 
    if(data.message == "process") {
      
      window.worker = new Worker("/worker.js");
      window.worker.onmessage = function(event) {

      // comment this line to work in firefox
      //console.log(event.data);

        var data = event.data;
        socket.send({message: 'job_completed', id:data.id, data:data.data, uuid:"#{uuid}"});

        window.worker.terminate();

        smessage('Requesting another job...');
        socket.send({message: 'next_job', uuid:"#{uuid}"});
      };

      //comment this line to work in firefox
      //console.log(data);
      smessage('Starting new job ' + data.job.id +  ' ....');
      window.worker.postMessage(data.job);
    } else if(data.message == "stop" && data.uuid == "#{uuid}") {
      // console.log("Terminating worker...");
      smessage('Terminating worker...');

      if(window.worker) {
        window.worker.terminate();
      smessage('Worker terminated!');
      }
    } else if(data.message == "result" && data.uuid == "#{uuid}") {
      smessage('The result of this awesome computation is: ' + data.data );
      $('#progressbar').progressbar({ value: 100 });
    } else if(data.message == "status" && data.uuid == "#{uuid}") {
      $('#progressbar').progressbar({ value: data.percentage });
    }
  });

  socket.on('disconnect', function(){ 
    smessage('Disconnected!');
    if(window.worker) {
      smessage('Terminating worker...');
      window.worker.terminate();
      smessage('Worker terminated!');
    }
  });
  
  if ( supports_web_workers() ) { socket.connect(); }
  else { 
      smessage('Your browser does not support WebWorkers!');
  }

#progressbar

#status

